@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-lg {
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4),
    -1px -1px 12px rgba(255, 255, 255, 0.9);
}
.innerShadow {
}
:root {
  @apply bg-slate-200;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.post-enter {
  opacity: 0;
  transition: opacity 500ms, transform 5000ms;
  transform: translateY(20px);
}

.post-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 2000ms;
}

.post-exit {
  opacity: 1;
  transform: translateY(0);
}

.post-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
